body {
	background: rgb(255, 255, 255);
	font-family: 'open sans', sans-serif;
}

/* Encabezados */

.texto_titulos {
    color: grey;
	font-size: 50px;
	
	font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (max-width: 768px) {
     
	.texto_titulos {
		font-size: 40px;
	}

}

@media screen and (max-width: 446px) {
     
	.texto_titulos {
		font-size: 30px;
	}

}

/* Imagenes de cards de propiedades */

.img_card {
	max-width: 100%;
	height: 260px;
}

@media screen and (max-width: 1400px) {
     
	.img_card {
		max-width: 100%;
		height: 220px;
	}

}

@media screen and (max-width: 1200px) {
     
	.img_card {
		max-width: 100%;
		height: 200px;
	}

}

@media screen and (max-width: 992px) {
     
	.img_card {
		max-width: 100%;
		height: 200px;
	}

}

@media screen and (max-width: 768px) {
     
	.img_card {
		max-width: 100%;
		height: 260px;
	}

}

@media screen and (max-width: 576px) {
     
	.img_card {
		max-width: 100%;
		height: 200px;
	}

}

@media screen and (max-width: 568px) {
     
	.img_card {
		max-width: 100%;
		height: 300px;
	}

}

@media screen and (max-width: 361px) {
     
	.img_card {
		max-width: 100%;
		height: 170px;
	}

}

/* Icono auto (ELIMINAR) */

.auto {
	max-width: 25px;
	max-height: 25px;
}

/* Iconos cards de Propiedades */

.recamara_icon {
	max-width: 30px;
	max-height: 30px;
	
}

.baño_icon {
	max-width: 30px;
	max-height: 30px;
	
}

/* Cards */

.precio_card {
	text-decoration: none;
	color:white;
	background: rgb(162, 63, 255);
	border-radius: 10px;
	padding: 8px;
	display: inline-block;
}

.boton_card {
	width: 260px;
}

@media screen and (max-width: 1200px) {
     
	.boton_card {
        width: 200px;
	}

}

/* Galeria dento de los ID de producto */

.galery_id:hover {
     opacity: 50%;
}

@media screen and (max-width: 992px) {
     
	.galery_ {
		margin-top: 10px;
	}

}

.galery_ {
	max-width: 1000px;
	max-height: 600px;
	margin-top: 60px;
}

/* Por que elegir nuestros servicios */

.servicios {
	margin-top: 15px;
}

.servicios_investigacion {
       width: 200px;
}

.texto_servicios_legal {
	margin-top: 30px;
}

.texto_investigacion {
	margin-top: 32.7px;
	color: aliceblue;
}

.texto_acompañamiento {
	margin-top: 50.8px;
}

.texto_crediticio {
	margin-top: 54.3px;
}

@media screen and (max-width: 1400px) {
     
	.texto_legal {
		margin-top: -100px;
	}

}

.img_investigacion {
	width: 220px;
	margin-top: 38px;
	margin-right: 100px;
}

/* Contacto */

.enlaces_contacto {
	max-width: 200px;
	max-height: 200px;
}

.enlace_insta {
	max-width: 110px;
	max-height: 110px;
}

.enlace_in {
	max-width: 110px;
	max-height: 110px;
}

.blog_img {
	width: 650px;
	height: 420px;
}

/* Blog */

@media screen and (max-width: 1600px){
	.blog_img {
		width: 600px;
		height: 380px;
	}
}

	@media screen and (max-width: 1400px){
		.blog_img {
			width: 550px;
			height: 330px;
		
		}
	}	

		@media screen and (max-width: 1300px){
			.blog_img {
				width: 500px;
				height: 280px;
			}
		}
		@media screen and (max-width: 1200px){
			.blog_img {
				width: 500px;
				height: 280px;}
			}

/* Menu Nav */			

#nav_:hover{
	text-decoration-line: underline;
}


@media screen and (max-width: 576px){
	.redes-sociales .icono {
		width: 50px;
		height: 50px;
	}

	.redes-sociales .icono svg {
		width: 25px;
		height: 25px;
	}

}

/* Dispositivo md */
@media screen and (max-width: 768px){}

/* Dispositivo lg */
@media screen and (max-width: 992px){
	header .logo {
		height: 76px;
	}

	header .menu {
		min-height: 76px;
	}

	header .menu a {
		width: 100%;
	}

}

/* Dispositivo xl */
@media screen and (max-width: 1200px){}

/* Dispositivo xxl */
@media screen and (max-width: 1400px){}



/* COMPRAR */

#auto_scroll {
	width: 500px;
}

@media screen and (max-width: 1200px ) {
	#auto_scroll{
		width:400px
	}
}

@media screen and (max-width: 992px ) {
	#auto_scroll{
		width:300px
	}
}

@media screen and (max-width: 767px ) {
	#auto_scroll{
		width:200px
	}
}
